<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrAvail</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="/Images/logo.ico" />
    <style>
        body {
            /*background-image: url(/Images/medical-doctor-science-background.jpg);*/
            /*background-image: url(/Images/pngtree-2-5d-see-a-doctor-medical-hospital-image_18143.jpg);*/
            /*background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;*/
        }
    </style>
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-image:url(/Images/medical-doctor-science-background.jpg)">
            <div class="container">
                <a class="navbar-brand span3" asp-area="" asp-controller="Home" asp-action="Index">DrAvail</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Doctors" asp-action="Index">Doctors</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Doctors" asp-action="Create">Add Doctor</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="Index">Hospitals</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hospitals" asp-action="Create">Add Hospital</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PendingApproval">
                                Pending Approval
                                <span class="badge badge-danger" id="bdgPendingCount" style="display:none"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewMessages">
                                Messages
                                <span class="badge badge-danger" id="bdgMsgCount" style="display:none"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            <br />
            @RenderBody()
            <br />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DrAvail - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = '@Url.Content("~/")' + "Admin/GetMessageCount";
            $.getJSON(url, {}, function (data) {
                if (data == 0) {
                    console.log("No new Messages!!!");
                    $("#bdgMsgCount").removeClass("badge-danger").addClass("badge-light");

                }
                else {
                    $("#bdgMsgCount").removeClass("badge-light").addClass("badge-danger");
                }
                $("#bdgMsgCount").text(data);
                $("#bdgMsgCount").show();
                console.log("New Messages: " + data);
            });

            var pendingcountURL = '@Url.Content("~/")' + "Admin/GetPendingApprovalCount";
            $.getJSON(pendingcountURL, {}, function (data) {
                if (data == 0) {
                    console.log("No pending verification!!!");
                    $("#bdgPendingCount").removeClass("badge-danger").addClass("badge-light");

                }
                else {
                    $("#bdgPendingCount").removeClass("badge-light").addClass("badge-danger");
                }
                $("#bdgPendingCount").text(data);
                $("#bdgPendingCount").show();
                console.log("Pending Verification: " + data);
                });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
