
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-controller="Doctors" asp-action="Details">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="edit" asp-controller="Doctors" asp-action="Edit">Edit your details</a></li>
</ul>
