@model DrAvail.Models.Doctor

@{
    ViewData["Title"] = "Register";
    //var Gender = ViewBag.Gender;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h4>Register</h4>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<style>
    .card {
        padding: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    select {
        z-index: 0;
    }

    .selectOpen {
        position: absolute;
        z-index: 9;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="doctor card mb-3" id="doctor">
                <div class="form-row">
                    <div class="form-group col-md-6 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Full Name</span>
                        </div>
                        <label asp-for="Name" class="control-label" hidden></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 input-group">
                        <div class="input-group-prepend">
                            <span asp-for="RegNumber" class="input-group-text">Registration Number</span>
                        </div>
                        <input asp-for="RegNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="RegNumber" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group input-group col-md-4">
                        <div class="input-group-prepend">
                            <label asp-for="Speciality" class="input-group-text"></label>
                        </div>
                        <select id="Speciality" asp-for="Speciality" class="form-control custom-select" asp-items="ViewBag.Speciality">
                            <option style="text-align:center" value="">--Select--</option>
                        </select>
                    </div>
                    <span asp-validation-for="Speciality" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="Degree" class="control-label"></label>
                        <input asp-for="Degree" class="form-control" />
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3" hidden>
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" id="age" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="DateOfBirth" class="control-label">
                            Date of Birth
                            <i class="fa fa-info-circle" style="color:skyblue;" aria-hidden="true" data-toggle="tooltip" title="Date of Birth is only for calculating your Age and won't be visible to public or other users."></i>
                        </label>
                        <input type="text" asp-for="DateOfBirth" class="form-control" id="dob" placeholder="MM/DD/YYYY" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control custom-select" size="1">
                            <option value="">--Select--</option>
                            <option value=0>Male</option>
                            <option value=1>Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 form-inline" hidden>
                        <label asp-for="Gender" class="control-label"></label>&nbsp;&nbsp;
                        <input type="radio" asp-for="Gender" value="Male" />Male<br />&nbsp;&nbsp;
                        <input type="radio" asp-for="Gender" value="Female" />Female<br />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="Practice" class="control-label"></label>
                        <select asp-for="Practice" class="form-control" size="1">
                            <option value="">--Select--</option>
                            <option value=0>Government</option>
                            <option value=1>Private</option>
                        </select>
                        <span asp-validation-for="Practice" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Experience" class="control-label"></label>
                        <input asp-for="Experience" class="form-control" id="txtExperience" />
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsVerified" /> @Html.DisplayNameFor(model => model.IsVerified)
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-group input-group">
                        @*<label asp-for="Summary" class="control-label"></label>*@
                        <div class="input-group-prepend">
                            <span class="input-group-text">Add a bio</span>
                        </div>
                        <textarea asp-for="Summary" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="City" class="control-label"></label>
                        @*<input asp-for="City" class="form-control" />*@
                        <select asp-for="City" class="form-control" id="City">
                            <option value="">Please enter Pincode</option>
                        </select>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="District" class="control-label"></label>

                        <input asp-for="District" class="form-control" id="txtDistrict" readonly value="Please enter valid Pincode" />
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Pincode" class="control-label"></label>
                        <input asp-for="Pincode" class="form-control" id="txtPincode" type="text" pattern="^[1-9][0-9]{5}" maxlength="6" minlength="6" title="Enter 6 digit Pincode" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="EmailId" class="control-label">Email Address</label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="accordionExample" class="accordion card mb-3">
                <div class="collapse show" id="hospitalName" data-parent="#accordionExample" aria-labelledby="hospital">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="HospitalID" class="control-label">Hospital Name</label> &nbsp;&nbsp;
                            <a href="#addHospital" data-toggle="collapse">Add Hospital</a>
                            <select size="1" asp-for="HospitalID" class="form-control" asp-items="ViewBag.HospitalID">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                @* To add hospital details if not present already *@
                <div id="addHospital" class="collapse" data-parent="#accordionExample" aria-labelledby="addHospital">
                    <h5>Hospital</h5>
                    <a href="#hospitalName" data-toggle="collapse">Select from Available</a>
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Hospital.Name" class="control-label"></label>
                            <input asp-for="Hospital.Name" class="form-control" />
                            <span asp-validation-for="Hospital.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Hospital.Type" class="control-label"></label>
                            <select asp-for="Hospital.Type" class="form-control" asp-items="ViewBag.HospitalType">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="Hospital.Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hospital.Address" class="control-label"></label>
                        <input asp-for="Hospital.Address" class="form-control" />
                        <span asp-validation-for="Hospital.Address" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Hospital.City" class="control-label"></label>
                            @*<input asp-for="City" class="form-control" />*@
                            <select asp-for="Hospital.City" class="form-control" id="HospitalCity" size="1">
                                <option value="">Please enter Pincode</option>
                            </select>
                            <span asp-validation-for="Hospital.City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Hospital.District" class="control-label"></label>
                            <input asp-for="Hospital.District" class="form-control" id="txtHospitalDistrict" readonly value="Please enter valid Pincode" />
                            <span asp-validation-for="Hospital.District" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Hospital.Pincode" class="control-label"></label>
                            <input asp-for="Hospital.Pincode" class="form-control" id="txtHospitalPincode" type="text" pattern="^[1-9][0-9]{5}" maxlength="6" minlength="6" title="Enter 6 digit Pincode" />
                            <span asp-validation-for="Hospital.Pincode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Hospital.EmailId" class="control-label">Email Address</label>
                            <input asp-for="Hospital.EmailId" class="form-control" />
                            <span asp-validation-for="Hospital.EmailId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Hospital.PhoneNo" class="control-label">Phone Number</label>
                            <input asp-for="Hospital.PhoneNo" class="form-control" />
                            <span asp-validation-for="Hospital.PhoneNo" class="text-danger"></span>
                        </div>
                    </div>
                    @* Add hospital section ends here *@
                </div>
            </div>

            <div id="addCommonAvailability" class="card mb-3">
                <h6 class="card-title text-left">Mon - Fri Timings</h6>
                <div class="common-availability-common card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.CommonDays.MorningStartTime" class="control-label">Morning Start Time</label>
                            <input asp-for="CommonAvailability.CommonDays.MorningStartTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.AvailabilityType" class="control-label">Availability Type</label>
                            <input asp-for="CommonAvailability.AvailabilityType" id="availabilityType" class="form-control" disabled />
                            <span asp-validation-for="CommonAvailability.AvailabilityType" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.MorningStartHour" class="control-label">Morning Start Hour</label>
                            <select asp-for="CommonAvailability.CommonDays.MorningStartHour" class="form-control" size="1" id="commonMorningStartHour">
                                <option value="00">00</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option value="13">13</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningStartHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.MorningStartMinute" class="control-label">Morning Start Minute</label>
                            <select asp-for="CommonAvailability.CommonDays.MorningStartMinute" class="form-control" size="1" id="commonMorningStartMinute">
                                <option>00</option>
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningStartMinute" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.CommonDays.MorningEndTime" class="control-label">Morning End Time</label>
                            <input asp-for="CommonAvailability.CommonDays.MorningEndTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningEndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.MorningEndHour" class="control-label">Morning End Hour</label>
                            <select asp-for="CommonAvailability.CommonDays.MorningEndHour" class="form-control" size="1" id="commonMorningEndHour">
                                <option value="00">00</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningEndHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.MorningEndMinute" class="control-label">Morning End Minute</label>
                            <select asp-for="CommonAvailability.CommonDays.MorningEndMinute" class="form-control" size="1" id="commonMorningEndMinute">
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.MorningEndMinute" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.CommonDays.EveningStartTime" class="control-label">Evening Start Time</label>
                            <input asp-for="CommonAvailability.CommonDays.EveningStartTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.EveningStartHour" class="control-label">Evening Start Hour</label>
                            <select asp-for="CommonAvailability.CommonDays.EveningStartHour" class="form-control" id="commonEveningStartHour" size="1">
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningStartHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.EveningStartMinute" class="control-label">Evening Start Minute</label>
                            <select asp-for="CommonAvailability.CommonDays.EveningStartMinute" class="form-control" size="1" id="commonEveningStartMinute">
                                <option>00</option>
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningStartMinute" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.CommonDays.EveningEndTime" class="control-label">Evening End Time</label>
                            <input asp-for="CommonAvailability.CommonDays.EveningEndTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningEndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.EveningEndHour" class="control-label">Evening End Hour</label>
                            <select asp-for="CommonAvailability.CommonDays.EveningEndHour" class="form-control" size="1" id="commonEveningEndHour">
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningEndHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.CommonDays.EveningEndMinute" class="control-label">Evening End Minute</label>
                            <select asp-for="CommonAvailability.CommonDays.EveningEndMinute" class="form-control" size="1" id="commonEveningEndMinute">
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.CommonDays.EveningEndMinute" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="CommonAvailability.IsAvailableOnWeekend" data-toggle="collapse" href="#commonWeekendInput" />
                        Available On Weekends
                    </label>
                </div>
                <div class="collapse" id="commonWeekendInput">
                    <h6>Weekend Timings</h6>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input asp-for="CommonAvailability.WeekendSameAsCommon" class="form-check-input" id="sameAsCommonDays" />
                            same As Common Days
                        </label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.Weekends.MorningStartTime" class="control-label">Morning Start Time</label>
                            <input asp-for="CommonAvailability.Weekends.MorningStartTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.Weekends.MorningStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.MorningStartHour" class="control-label">Morning Start Hour</label>
                            <select asp-for="CommonAvailability.Weekends.MorningStartHour" class="form-control" size="1" id="weekendMorningStartHour">
                                <option value="00">00</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option value="13">13</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.MorningStartHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.MorningStartMinute" class="control-label">Morning Start Minute</label>
                            <select asp-for="CommonAvailability.Weekends.MorningStartMinute" class="form-control" size="1" id="weekendMorningStartMinute">
                                <option>00</option>
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.MorningStartMinute" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.MorningEndHour" class="control-label">Morning End Hour</label>
                            <select asp-for="CommonAvailability.Weekends.MorningEndHour" class="form-control" size="1" id="weekendMorningEndHour">
                                <option value="00">00</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.MorningEndHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.MorningEndMinute" class="control-label">Morning End Minute</label>
                            <select asp-for="CommonAvailability.Weekends.MorningEndMinute" class="form-control" size="1" id="weekendMorningEndMinute">
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.MorningEndMinute" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.Weekends.MorningEndTime" class="control-label">Morning End Time</label>
                            <input asp-for="CommonAvailability.Weekends.MorningEndTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.Weekends.MorningEndTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.Weekends.EveningStartTime" class="control-label"> Evening Start Time</label>
                            <input asp-for="CommonAvailability.Weekends.EveningStartTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.Weekends.EveningStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.EveningStartHour" class="control-label">Evening Start Hour</label>
                            <select asp-for="CommonAvailability.Weekends.EveningStartHour" class="form-control" id="weekendEveningStartHour" size="1">
                                <option>14</option>
                                <option value="15">15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.EveningStartHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.EveningStartMinute" class="control-label">Evening Start Minute</label>
                            <select asp-for="CommonAvailability.Weekends.EveningStartMinute" class="form-control" size="1" id="weekendEveningStartMinute">
                                <option>00</option>
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.EveningStartMinute" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.EveningEndHour" class="control-label">Evening End Hour</label>
                            <select asp-for="CommonAvailability.Weekends.EveningEndHour" class="form-control" size="1" id="weekendEveningEndHour">
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.EveningEndHour" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="CommonAvailability.Weekends.EveningEndMinute" class="control-label">Evening End Minute</label>
                            <select asp-for="CommonAvailability.Weekends.EveningEndMinute" class="form-control" size="1" id="weekendEveningEndMinute">
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                            <span asp-validation-for="CommonAvailability.Weekends.EveningEndMinute" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" hidden>
                            <label asp-for="CommonAvailability.Weekends.EveningEndTime" class="control-label">Evening End Time</label>
                            <input asp-for="CommonAvailability.Weekends.EveningEndTime" class="form-control" />
                            <span asp-validation-for="CommonAvailability.Weekends.EveningEndTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="addCurrentAvailability" hidden>
                <h6>Current Availability</h6>
                <div class="form-group">
                    <label asp-for="CurrentAvailability.CurrentStartDateTime" class="control-label"></label>
                    <input asp-for="CurrentAvailability.CurrentStartDateTime" class="form-control" />
                    <span asp-validation-for="CurrentAvailability.CurrentStartDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentAvailability.CurrentEndDateTime" class="control-label"></label>
                    <input asp-for="CurrentAvailability.CurrentEndDateTime" class="form-control" />
                    <span asp-validation-for="CurrentAvailability.CurrentEndDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentAvailability.ContactPreference" class="control-label"></label>
                    <select asp-for="CurrentAvailability.ContactPreference" class="form-control">
                        <option>Always</option>
                        <option>EmergencyOnly</option>
                        <option>Never</option>
                    </select>
                    <span asp-validation-for="CurrentAvailability.ContactPreference" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CurrentAvailability.HospitalID" class="control-label"></label>
                    <select asp-for="CurrentAvailability.HospitalID" class="form-control" asp-items="ViewBag.HospitalID">
                    </select>
                </div>


                <div class="form-group" hidden>
                    <label asp-for="CurrentAvailability.Status" class="control-label"></label>
                    <select asp-for="CurrentAvailability.Status" class="form-control">
                        <option value="">--Select</option>
                        <option value="On Vacation">On Vacation</option>
                        <option value="Available">Available</option>
                    </select>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CurrentAvailability.HospitalID" class="control-label">Hospital Name</label>
                    <select asp-for="CurrentAvailability.HospitalID" class="form-control" asp-items="ViewBag.HospitalID">
                        <option value=HospitalID></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    @*</div>*@
    @*</div>*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var MHours = ["00", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14"];
            var Times = ["00", "15", "30", "45"];
            var EHours = ["14", "15", "16", "17", "18", "19", "20", "21", "22", "23","00"];

            //setting value to availabilityType
            $("#availabilityType").val("Common");

            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth();
            var day = today.getDay();
            $('#dob').datepicker({
                minDate: new Date(year - 125, month, day),
                maxDate: new Date(year - 25, month, day),
                setDate: new Date(year-25, month, day)
            });

            $("#dob").change(function (event) {
                var dob = event.currentTarget.value.split("/")[2];
                $("#age").val(year - parseInt(dob));
            });
            //commonMorningStartHour
            $("#commonMorningStartHour").change(function () {
                //debugger;
                var startHour = $("#commonMorningStartHour").find(":selected").val();
                var startminute = $("#commonMorningStartMinute").find(":selected").val();
                if (jQuery.inArray(startHour, MHours) != -1) {
                    var Hindex = MHours.indexOf(startHour);
                    //console.log("Index: " + index);
                    var items = "";
                    //console.log("Timing array length: " + MHours.length);
                    $.each(MHours, function (i, value) {
                        //console.log("i: " + i)
                        if (i >= Hindex) {
                            items += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    var Tindex = Times.indexOf(startminute);
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    })
                    $("#commonMorningEndHour").html(items);
                    $("#commonMorningEndMinute").html(timings);
                }
            });

            //commonMorningStartMinute
            $("#commonMorningStartMinute").change(function () {
                var startMinute = $("#commonMorningStartMinute").find(":selected").val();
                var startHour = $("#commonMorningStartHour").find(":selected").val();
                var endHour = $("#commonMorningEndHour").find(":selected").val();
                var Hindex = MHours.indexOf(startHour);
                var endHourIndex = MHours.indexOf(endHour);
                var Tindex = Times.indexOf(startMinute);
                var timings = "";
                var items = "";

                if (Tindex != Times.length - 1) {
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    //if user previously selected 45, it should have incremented the endhour so if user changes minute back
                    //end hour should match with starthour
                    if (endHourIndex > Hindex) {
                        //var Hindex = MHours.indexOf(startHour);
                        //var items = "";
                        $.each(MHours, function (i, value) {
                            if (i >= Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#commonMorningEndHour").html(items);
                    }
                    $("#commonMorningEndMinute").html(timings);
                }
                else {
                    //var timings = "";
                    if (Hindex == MHours.length - 2) {
                        timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                        console.log("timing::  " + timings);
                    }
                    else{
                        $.each(Times, function (i, value) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        });
                    }

                    if (jQuery.inArray(startHour, MHours) != -1) {
                        $.each(MHours, function (i, value) {
                            if (i > Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#commonMorningEndHour").html(items);
                        $("#commonMorningEndMinute").html(timings);
                    }
                }
            });

            //commonMorningEndHour
            $("#commonMorningEndHour").change(function () {
                var startHour = $("#commonMorningStartHour").find(":selected").val();
                var endHour = $("#commonMorningEndHour").find(":selected").val();
                var startHourIndex = MHours.indexOf(startHour);
                var endHourIndex = MHours.indexOf(endHour);
                var timings = "";

                if (endHourIndex == MHours.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    //console.log("timings::: " + timings);
                    $("#commonMorningEndMinute").html(timings);
                }
                else if (endHourIndex > startHourIndex) {
                    //var timings = "";
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    $("#commonMorningEndMinute").html(timings);
                }
                else {
                    var startminute = $("#commonMorningStartMinute").find(":selected").val();
                    var Tindex = Times.indexOf(startminute);
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    $("#commonMorningEndMinute").html(timings);
                }
            });

            //commonEveningStartHour
            $("#commonEveningStartHour").change(function () {
                //debugger;
                var startHour = $("#commonEveningStartHour").find(":selected").val();
                var startminute = $("#commonEveningStartMinute").find(":selected").val();
                if (jQuery.inArray(startHour, EHours) != -1) {
                    var Hindex = EHours.indexOf(startHour);
                    //console.log("Index: " + index);
                    var items = "";
                    //console.log("Timing array length: " + Hours.length);
                    $.each(EHours, function (i, value) {
                        //console.log("i: " + i)
                        if (i >= Hindex) {
                            items += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    var Tindex = Times.indexOf(startminute);
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    })
                    $("#commonEveningEndHour").html(items);
                    $("#commonEveningEndMinute").html(timings);
                }
            });

            //commonEveningStartMinute
            $("#commonEveningStartMinute").change(function () {
                var startminute = $("#commonEveningStartMinute").find(":selected").val();
                var startHour = $("#commonEveningStartHour").find(":selected").val();
                var endHour = $("#commonEveningEndHour").find(":selected").val();
                var Tindex = Times.indexOf(startminute);
                var Hindex = EHours.indexOf(startHour);
                var endHourIndex = EHours.indexOf(endHour);
                var timings = "";
                var items = "";

                if (Hindex == EHours.length - 2 && Tindex == Times.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    items += "<option value='" + EHours[EHours.length - 1] + "'>" + EHours[EHours.length - 1] + "</option>";
                    $("#commonEveningEndHour").html(items);
                    $("#commonEveningEndMinute").html(timings);
                }
                else if (Tindex != Times.length - 1) {
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    if (endHourIndex > Hindex) {
                        //var Hindex = EHours.indexOf(startHour);
                        $.each(EHours, function (i, value) {
                            if (i >= Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#commonEveningEndHour").html(items);
                    }
                    $("#commonEveningEndMinute").html(timings);
                }
                else {
                    //var timings = "";
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    if (jQuery.inArray(startHour, MHours) != -1) {
                        //var items = "";
                        $.each(EHours, function (i, value) {
                            if (i > Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#commonEveningEndHour").html(items);
                        $("#commonEveningEndMinute").html(timings);
                    }
                }
            });

            //commonEveningEndHour
            $("#commonEveningEndHour").change(function () {
                var startHour = $("#commonEveningStartHour").find(":selected").val();
                var endHour = $("#commonEveningEndHour").find(":selected").val();
                var Hindex = EHours.indexOf(endHour);
                var timings = "";
                var items = "";

                if (Hindex == EHours.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    //items += "<option value='" + EHours[EHours.length - 1] + "'>" + EHours[EHours.length - 1] + "</option>";
                    //$("#commonEveningEndHour").html(items);
                    $("#commonEveningEndMinute").html(timings);
                }
                else if (endHour > startHour) {
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    $("#commonEveningEndMinute").html(timings);
                }
                else {
                    var startminute = $("#commonEveningStartMinute").find(":selected").val();
                    var Tindex = Times.indexOf(startminute);
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    $("#commonEveningEndMinute").html(timings);
                }
            });

            //weekends
            //weekendMorningStartHour
            $("#weekendMorningStartHour").change(function () {
                //debugger;
                var startHour = $("#weekendMorningStartHour").find(":selected").val();
                var startminute = $("#weekendMorningStartMinute").find(":selected").val();
                if (jQuery.inArray(startHour, MHours) != -1) {
                    var Hindex = MHours.indexOf(startHour);
                    //console.log("Index: " + index);
                    var items = "";
                    //console.log("Timing array length: " + MHours.length);
                    $.each(MHours, function (i, value) {
                        //console.log("i: " + i)
                        if (i >= Hindex) {
                            items += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    var Tindex = Times.indexOf(startminute);
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    })
                    $("#weekendMorningEndHour").html(items);
                    $("#weekendMorningEndMinute").html(timings);
                }
            });

            //weekendMorningStartMinute
            $("#weekendMorningStartMinute").change(function () {
                var startMinute = $("#weekendMorningStartMinute").find(":selected").val();
                var startHour = $("#weekendMorningStartHour").find(":selected").val();
                var endHour = $("#weekendMorningEndHour").find(":selected").val();
                var Hindex = MHours.indexOf(startHour);
                var Tindex = Times.indexOf(startMinute);
                if (Tindex != Times.length - 1) {
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    //if user previously selected 45, it should have incremented the endhour so if user changes minute back
                    //end hour should match with starthour
                    if (endHour > startHour) {
                        var items = "";
                        $.each(MHours, function (i, value) {
                            if (i >= Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#weekendMorningEndHour").html(items);
                    }
                    $("#weekendMorningEndMinute").html(timings);
                }
                else {
                    var timings = "";
                    if (Hindex == MHours.length - 2) {
                        timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                        console.log("timing::  " + timings);
                    }
                    else {
                        $.each(Times, function (i, value) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        });
                    }
                    if (jQuery.inArray(startHour, MHours) != -1) {
                        var Hindex = MHours.indexOf(startHour);
                        var items = "";
                        $.each(MHours, function (i, value) {
                            if (i > Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#weekendMorningEndHour").html(items);
                        $("#weekendMorningEndMinute").html(timings);
                    }
                }
            });

            //weekendMorningEndHour
            $("#weekendMorningEndHour").change(function () {
                var startHour = $("#weekendMorningStartHour").find(":selected").val();
                var endHour = $("#weekendMorningEndHour").find(":selected").val();
                var startHourIndex = MHours.indexOf(startHour);
                var endHourIndex = MHours.indexOf(endHour);
                var timings = "";

                if (endHourIndex == MHours.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    //console.log("timings::: " + timings);
                    $("#commonMorningEndMinute").html(timings);
                }
                else if (endHourIndex > startHourIndex) {
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    $("#weekendMorningEndMinute").html(timings);
                }
                else {
                    var startminute = $("#weekendMorningStartMinute").find(":selected").val();
                    var Tindex = Times.indexOf(startminute);
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    $("#weekendMorningEndMinute").html(timings);
                }
            });

            //weekendEveningStartHour
            $("#weekendEveningStartHour").change(function () {
                //debugger;
                var startHour = $("#weekendEveningStartHour").find(":selected").val();
                var startminute = $("#weekendEveningStartMinute").find(":selected").val();
                if (jQuery.inArray(startHour, EHours) != -1) {
                    var Hindex = EHours.indexOf(startHour);
                    //console.log("Index: " + index);
                    var items = "";
                    //console.log("Timing array length: " + Hours.length);
                    $.each(EHours, function (i, value) {
                        //console.log("i: " + i)
                        if (i >= Hindex) {
                            items += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    var Tindex = Times.indexOf(startminute);
                    var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    })
                    $("#weekendEveningEndHour").html(items);
                    $("#weekendEveningEndMinute").html(timings);
                }
            });

            //weekendEveningStartMinute
            $("#weekendEveningStartMinute").change(function () {
                var startminute = $("#weekendEveningStartMinute").find(":selected").val();
                var startHour = $("#weekendEveningStartHour").find(":selected").val();
                var endHour = $("#weekendEveningEndHour").find(":selected").val();
                var Tindex = Times.indexOf(startminute);
                var Hindex = EHours.indexOf(startHour);
                var endHourIndex = EHours.indexOf(endHour);
                var timings = "";
                var items = "";

                if (Hindex == EHours.length - 2 && Tindex == Times.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    items += "<option value='" + EHours[EHours.length - 1] + "'>" + EHours[EHours.length - 1] + "</option>";
                    $("#commonEveningEndHour").html(items);
                    $("#commonEveningEndMinute").html(timings);
                }
                else if (Tindex != Times.length - 1) {
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    if (endHourIndex > Hindex) {
                        //var Hindex = EHours.indexOf(startHour);
                        $.each(EHours, function (i, value) {
                            if (i >= Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#weekendEveningEndHour").html(items);
                    }
                    $("#weekendEveningEndMinute").html(timings);
                }
                else {
                    //var timings = "";
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    if (jQuery.inArray(startHour, MHours) != -1) {
                        //var items = "";
                        $.each(EHours, function (i, value) {
                            if (i > Hindex) {
                                items += "<option value='" + value + "'>" + value + "</option>";
                            }
                        });
                        $("#weekendEveningEndHour").html(items);
                        $("#weekendEveningEndMinute").html(timings);
                    }
                }
            });

            //weekendEveningEndHour
            $("#weekendEveningEndHour").change(function () {
                var startHour = $("#weekendEveningStartHour").find(":selected").val();
                var endHour = $("#weekendEveningEndHour").find(":selected").val();
                var Hindex = EHours.indexOf(endHour);
                var timings = "";
                var items = "";

                if (Hindex == EHours.length - 1) {
                    timings += "<option value='" + Times[0] + "'>" + Times[0] + "</option>";
                    //items += "<option value='" + EHours[EHours.length - 1] + "'>" + EHours[EHours.length - 1] + "</option>";
                    //$("#commonEveningEndHour").html(items);
                    $("#commonEveningEndMinute").html(timings);
                }
                else if (endHour > startHour) {
                    //var timings = "";
                    $.each(Times, function (i, value) {
                        timings += "<option value='" + value + "'>" + value + "</option>";
                    });
                    $("#weekendEveningEndMinute").html(timings);
                }
                else {
                    var startminute = $("#weekendEveningStartMinute").find(":selected").val();
                    var Tindex = Times.indexOf(startminute);
                    //var timings = "";
                    $.each(Times, function (i, value) {
                        if (i > Tindex) {
                            timings += "<option value='" + value + "'>" + value + "</option>";
                        }
                    });
                    $("#weekendEveningEndMinute").html(timings);
                }
            });

            $("#sameAsCommonDays").click(function () {
                var n = $("#sameAsCommonDays:checked").length;
                //console.log("n::: " + n);
                if (n != 0) {
                    //var timings = "";
                    //$.each(Times, function (i, value) {
                    //    timings += "<option value='" + value + "'>" + value + "</option>";
                    //});

                    var morningStartHour = $("#commonMorningStartHour").find(":selected").val();
                    var morningEndHour = $("#commonMorningEndHour").find(":selected").val();
                    var morningStartMinute = $("#commonMorningStartMinute").find(":selected").val();
                    var morningEndMinute = $("#commonMorningEndMinute").find(":selected").val();

                    var eveningStartHour = $("#commonEveningStartHour").find(":selected").val();
                    var eveningEndHour = $("#commonEveningEndHour").find(":selected").val();
                    var eveningStartMinute = $("#commonEveningStartMinute").find(":selected").val();
                    var eveningEndMinute = $("#commonEveningEndMinute").find(":selected").val();

                    //$("#weekendMorningStartHour").find("option:contains(" + morningStartHour + ")").attr("selected", true).trigger('change');
                    $("#weekendMorningStartHour").find("option").filter(function () {
                        return morningStartHour === $(this).text();
                    }).attr("selected", true).trigger('change');

                    $("#weekendMorningStartMinute").find("option:contains(" + morningStartMinute + ")").attr("selected", true).trigger('change');

                    //$("#weekendMorningEndHour").find("option:contains(" + morningEndHour + ")").attr("selected", true).trigger('change');
                    $("#weekendMorningEndHour").find("option").filter(function () {
                        return morningEndHour === $(this).text();
                    }).attr("selected", true).trigger('change');

                    $("#weekendMorningEndMinute").find("option:contains(" + morningEndMinute + ")").attr("selected", true);

                    $("#weekendEveningStartHour").find("option:contains(" + eveningStartHour + ")").attr("selected", true).trigger('change');
                    $("#weekendEveningStartMinute").find("option:contains(" + eveningStartMinute + ")").attr("selected", true).trigger('change');
                    $("#weekendEveningEndHour").find("option:contains(" + eveningEndHour + ")").attr("selected", true).trigger('change');
                    $("#weekendEveningEndMinute").find("option:contains(" + eveningEndMinute + ")").attr("selected", true);
                    toggleWeekendTiming(true);
                }
                else {
                    toggleWeekendTiming(false);
                }

            });

            function toggleWeekendTiming(status) {

                $("#weekendMorningStartHour").attr("disabled", status);
                $("#weekendMorningEndHour").attr("disabled", status);
                $("#weekendMorningStartMinute").attr("disabled", status);
                $("#weekendMorningEndMinute").attr("disabled", status);

                $("#weekendEveningStartHour").attr("disabled", status);
                $("#weekendEveningEndHour").attr("disabled", status);
                $("#weekendEveningStartMinute").attr("disabled", status);
                $("#weekendEveningEndMinute").attr("disabled", status);
            }

            $("#txtExperience").change(function () {
                //debugger;
                var exp = $("#txtExperience").val();
                console.log("\nexp: " + exp);

                var dob = $("#dob").val();
                console.log("\ndob: " + dob);
                if (dob != "") {
                    var age = new Date().getFullYear() - new Date(dob).getFullYear();
                    console.log("Today date: " + new Date().toString());
                    console.log("\nDOB: " + new Date(dob).toString());
                    console.log("\nAge: " + age);
                    if (age > 24) {
                        var diff = age - 25;
                        console.log("\ndiff: " + diff);
                        if (exp >= 0 && exp <= diff) {
                            alert('ok');
                        }
                        else {
                            alert("You can't have " + exp + " of experience when you are " + age + " year old");
                        }
                    }
                    else {
                        alert("Age should be at 25");
                    }
                }
                else {
                    alert("Enter Date of Birth");
                }
            });
            //for doctor
            $("#txtPincode").keyup(function () {
                //debugger;
                //var source = "#txtPincode";
                //console.log("Pincode: " + $("#txtPincode").val());
                if ($("#txtPincode").val().length == 6)
                {
                    var url = '@Url.Content("~/")' + "Doctors/GetLocations";
                    //console.log("Url: " + url);
                    $.getJSON(url, { Pincode: $("#txtPincode").val() }, function (data) {
                        var items = "";
                        if (data.length==0) {
                            console.log("No location found!!!");
                            return false;
                        }
                        $("#City").empty();
                        $("#txtDistrict").val(data[0].dis);
                        //$("txtDistrict").text = data[0].dis;
                        //console.log(data[0].dis);
                        $.each(data, function (i, location) {
                            items += "<option value='" + location.locality + "'>" + location.locality + "</option>";
                        });
                        $("#City").html(items);
                    });
                }
            });
            //for hostpital
            $("#txtHospitalPincode").keyup(function () {
                //debugger;
                //var source = "#txtPincode";
                //console.log("Pincode: " + $("#txtPincode").val());
                if ($("#txtHospitalPincode").val().length == 6)
                {
                    var url = '@Url.Content("~/")' + "Doctors/GetLocations";
                    //console.log("Url: " + url);
                    $.getJSON(url, { Pincode: $("#txtHospitalPincode").val() }, function (data) {
                        var items = "";
                        if (data.length==0) {
                            console.log("No location found!!!");
                            return false;
                        }
                        $("#HospitalCity").empty();
                        $("#txtHospitalDistrict").val(data[0].dis);
                        //$("txtDistrict").text = data[0].dis;
                        //console.log(data[0].dis);
                        $.each(data, function (i, location) {
                            items += "<option value='" + location.locality + "'>" + location.locality + "</option>";
                        });
                        $("#HospitalCity").html(items);
                    });
                }
            });

            //City select list
            //on mousedown event
            $("select").mousedown(function (event) {
                var source = event.currentTarget;
                if (source.id == "Speciality") return;
                //console.log("Option lenght: " + $(source).find("option").length);
                if ($(source).attr("size") == '1' && $(source).find("option").length > 5) {
                    event.preventDefault();
                }
            });
            //on click event
            $("select").click(function (event) {
                var source = event.currentTarget;
                if (source.id == "Speciality") return;
                //console.log($(source).attr("size"));
                if ($(source).attr("size") == '1')
                {
                    if ($(source).find("option").length > 5) {
                        $(source).addClass("selectOpen");
                        $(source).attr("size", '5');
                    }
                }
                else {
                    $(source).removeClass("selectOpen");
                    $(source).attr("size", '1');
                }
            });

            //restting when loses focus
            $("select").focusout(function (event) {
                var source = event.currentTarget;
                if (source.id == "Speciality") return;

                $(source).removeClass("selectOpen");
                $(source).attr("size", '1');
            });

            $("select").mouseleave(function (event) {
                var source = event.currentTarget;
                if (source.id == "Speciality") return;

                $(source).removeClass("selectOpen");
                $(source).attr("size", '1');
            });
        });
    </script>
}
