@model DrAvail.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"></label>
                <input asp-for="RegNumber" class="form-control" />
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <select asp-for="Speciality" class="form-control" asp-items="ViewBag.Speciality">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">--Select--</option>
                    <option value=0>Male</option>
                    <option value=1>Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Practice" class="control-label"></label>
                <select asp-for="Practice" class="form-control">
                    <option value="">--Select--</option>
                    <option value=0>Government</option>
                    <option value=1>Private</option>
                </select>
                <span asp-validation-for="Practice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*@Html.DisplayNameFor(model => model.IsVerified)&nbsp;*@
                <label asp-for="IsVerified" class="control-label"></label>

                @Html.DisplayFor(model => model.IsVerified)

            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <select asp-for="District" class="form-control" asp-items="ViewBag.Districts"></select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalID" class="control-label"></label>
                <select asp-for="HospitalID" class="form-control" asp-items="ViewBag.HospitalID"></select>
                <span asp-validation-for="HospitalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonAvaliabilityID" class="control-label"></label>
                <select asp-for="CommonAvaliabilityID" class="form-control" asp-items="ViewBag.CommonAvaliabilityID"></select>
                <span asp-validation-for="CommonAvaliabilityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAvaliabilityID" class="control-label"></label>
                <select asp-for="CurrentAvaliabilityID" class="form-control" asp-items="ViewBag.CurrentAvaliabilityID"></select>
                <span asp-validation-for="CurrentAvaliabilityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
